.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.compareInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 600px) {
  .compareInputs {
    flex-direction: row;
    align-items: center;
  }
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
