.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.differences {
  display: grid;
  gap: 16px;
}

@media (min-width: 600px) {
  .differences {
    grid-template-columns: 1fr 1fr;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
